body {
  font-family: cursive;
  text-transform: capitalize;
}
.container {
  margin: 20px auto;
  width: 600px;
}
/* small */
.form {
  padding: 20px;
  background-color: #ddd;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.form input[type="text"] {
  width: 65%;
  padding: 10px;
  border-radius: 6px;
  border: none;
}
.form input[type="text"]:focus {
  outline: none;
}
.form input[type="submit"] {
  background-color: #ff5230;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 13px;
  cursor: pointer;
}
.tasks {
  min-height: 0px;
  padding: 20px;
  background-color: #ddd;
  margin-top: 20px;
  border-radius: 10px;
}
.task {
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  align-items: center;
}
.task:not(:last-of-type) {
  margin-bottom: 15px;
}
.task.done {
  opacity: 0.6;
}
.delete {
  font-size: 10px;
  background-color: #ff1a00;
  color: #fff;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 15px;
}
